*
{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}
.main_box
{
    background: url(photo2.jpg) ;
    height: 100vh;
    background-size: cover;
}
.btn_one{
    color: black;
    font-size: 30px;
    font-weight: 700px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(red, green, blue,0.1);
    box-shadow: 0 0 6px rgba(red, green, blue,0.5);
    transition: .8s;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(red, green, blue,0.5);
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color: black;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    cursor: pointer;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    padding: 14px 20px;
    margin-top: 6px;
}
.sidebar_menu .menu i,a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    color: black;
    opacity: .5;
    position: absolute;
    left: 25%;
    bottom: 20px;
}
.sidebar_menu .social_media i{
    color: black;
    opacity: .5;
    padding: 0 5px;
}
#check
{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow:  0 0 5px rgba(red, green, blue, .5);
}
.btn_one:hover{
    font-size: 40px;
}


.btn_two:hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover
{
    opacity: 1;
    transform: scale(1.1);
}
#check:checked ~.sidebar_menu{
    left: 0;
}
#check:checked~ .btn_one i{
    opacity: 0;
}











